## Linux
.*
!.gitignore
*~
*.swp

## Matebot
*.cfg
*.csv
*.db
*.txt
!requirements.txt

## Python
*.py[cod]
**__pycache__

## Flask
instance/

## Virtualenv
env/
venv/
virtualenv/

## Geany
*.geany

## Windows
Thumbs.db

