[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
telepot = "*"
urllib3 = "*"
flask = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
flup = "*"
gunicorn = "*"
pypng = "*"
totalvoice = "*"
pytz = "*"
dataset = "*"
youtube-dl = "*"
PyMySQL = "*"
PyQRCode = "*"
Babel = "*"
aiogram = "*"
uvloop = {version = "*",sys_platform = "!= 'win32'"}
brotlipy = {version = "*",sys_platform = "!= 'win32'"}
ujson = "*"
cchardet = "*"
aiodns = "*"
aiohttp = {extras = ["speedups"],version = "*"}
quart = "*"
hypercorn = "*"
pydantic = "*"
validators = "*"

[requires]
python_version = "3"

[scripts]
### Scripts atuais
matebot = 'python app.py aiogram' # Vai usar 'matebot' por padrão
prod = 'python app.py aiogram production'
test = 'python app.py aiogram testing'
dev = 'python app.py aiogram development'
### Scripts antigos
telepot = 'python app.py telepot'
ptb = 'python app.py flask'
flask_dev = 'flask run'
flask_test = 'gunicorn matebot.ptb_matebot:app'
quart_dev = 'quart run'
quart_test = 'hypercorn matebot.aio_matebot:app'
### O mesmo que 'pipenv run python app.py aiogram matebot'
pure = 'python app.py'
