[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
telepot = "*"
urllib3 = "*"
flask = "*"
python-dotenv = "*"
python-telegram-bot = "*"
requests = "*"
flup = "*"
gunicorn = "*"
pypng = "*"
totalvoice = "*"
pytz = "*"
dataset = "*"
youtube-dl = "*"
PyMySQL = "*"
PyQRCode = "*"
Babel = "*"
aiogram = "*"
uvloop = "*"
ujson = "*"
cchardet = "*"
aiodns = "*"
aiohttp = {extras = ["speedups"],version = "*"}
quart = "*"
hypercorn = "*"
pydantic = "*"

[requires]
python_version = "3"

[scripts]
telepot = 'python start.py telepot matebot'
flask_dev = 'flask run'
flask_test = 'gunicorn matebot.ptb_matebot:app'
quart_dev = 'quart run'
quart_test = 'hypercorn matebot.aio_matebot:app'
matebot = 'python start.py aiogram'
matebot_dev 'python start.py aiogram dev'
matebot_test 'python start.py aiogram test'

