## Copiar este arquivo para ~/.config/systemd/user/

[Unit]
Description=Matebot daemon
After=network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/home/user/.local/bin/pipenv run matebot production
WorkingDirectory=/home/user/matebot/
Restart=on-failure

[Install]
WantedBy=multi-user.target
