## Replace with token provided by @BotFather on Telegram and rename this file to matebot.cfg (remove the .example extension)
[botfather]
token = 123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

## Replace with your telegram's id. Optionally, use a group id for group testing/development.
[admin]
id = 1
group = -1
