## Replace with token provided by @BotFather on Telegram and rename this file to matebot.cfg (remove the .example extension)
[botfather]
token = 123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

## Replace with your telegram's id. Optionally, use a group id for group testing/development.
[admin]
id = 1
group = -1

## Do not use this, change to your own bot
[bot]
name = MateBot
handle = @mate_obot

## Change the bot information according to your needs
[info]
website = https://matehackers.org
code_repository = https://github.com/matehackers/tg-matebot
telegram_group = @matehackerspoa
telegram_channel = @matehackers

## Cryptocurrencies addresses for donations
## If you don't change this, donations will go to matehackers.org
[crypto_addresses]
btc = 1AG2SX3n9iFQiZExiyS3M5qCuZT5GhArn

